<h4> Enter Amount for deposit</h4>
<br>
<div class="container">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card grey lighten-2">
                
                    <form #loginForm="ngForm" class="col s12 white" (ngSubmit)="onSubmit(Deposit.value)">
                        <div class="row">
                            <div class="input-field col s12">
                               
                                <input type="number" #Deposit ngModel name="Deposit" placeholder="Deposit" required>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="input-field col s12">
                                <button [disabled]="!loginForm.valid" class="btn-large btn-submit" type="submit">Submit Amount</button>
                            </div>
                        </div>
                    </form>
               
            </div>
        </div>
    </div>
</div>

<div class="card m-5" style="width:18rem" *ngIf="userName">
        <ul class="list-group">
          <li class="list-group-item"><strong>Atm_No : </strong>{{userName.userName}}</li>
        </ul>
      </div>